@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}
<h1>Dice Game</h1>

<body>
    <form  method="post">
        <h4>May the odds be with you</h4>
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Dice.Faces"></label>
            <input asp-for="Dice.Faces" class="form-control">
            <span asp-validation-for="Dice.Faces" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Dice.IsLoaded"></label>
            <input asp-for="Dice.IsLoaded" class="form-control">
            <span asp-validation-for="Dice.IsLoaded" class="text-danger"></span>
        </div>
        <button type="submit" asp-page-handler="PostDice">Add Dice</button>
        </div>
    </form>

<h2>Dices</h2>
<table class="table">
    <tbody>
        <tr>
        @foreach (var item in Model.Dices) {
                <td>
                 @item
                </td>
        }
        </tr>
    </tbody>
</table>

<h2>Roll</h2>
<form  method="post">
    <button type="submit" asp-page-handler="Roll">Roll Dices</button>
</form> 

<h2>Results</h2>
<table class="table">
    <tbody>
        <tr>
        @foreach (var item in Model.Results) {
                <td>
                 @item
                </td>
        }
        </tr>
    </tbody>
</table>
    
</body>
